utest/resources/ichange.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2009 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="COLUMN_SIZE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DB_TYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DESTFIELD">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IS_NULL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false"/>
				<xs:enumeration value="true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IS_PK">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false"/>
				<xs:enumeration value="true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="JDBC_TYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="channel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
				<xs:element ref="ipaddress"/>
				<xs:element ref="privated"/>
				<xs:element ref="targetpath"/>
				<xs:element ref="port"/>
				<xs:element ref="sourcepath"/>
				<xs:element ref="interval"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="condition" type="xs:string"/>
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="system"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="database">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oldstep"/>
				<xs:element ref="operation"/>
				<xs:element ref="temptable"/>
				<xs:element ref="maxrecords"/>
				<xs:element ref="interval"/>
				<xs:element ref="enable"/>
				<xs:element ref="tables"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="datapath">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dbchange">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="database"/>
				<xs:element ref="srcdb"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="dbhost" type="xs:string"/>
	<xs:element name="dbowner">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dbtype">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="oracle"/>
				<xs:enumeration value="sybase"/>
				<xs:enumeration value="sqlserver"/>
				<xs:enumeration value="mysql"/>
				<xs:enumeration value="db2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dburl">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dbuser">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dbvender">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="deleteenable">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false"/>
				<xs:enumeration value="true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="deletefile">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false"/>
				<xs:enumeration value="true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="driverclass">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="enable">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false"/>
				<xs:enumeration value="true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="encoding">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="GB2312"/>
				<xs:enumeration value="UTF-8"/>
				<xs:enumeration value="UTF-16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="field">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="JDBC_TYPE"/>
				<xs:element ref="DESTFIELD" minOccurs="0"/>
				<xs:element ref="IS_PK"/>
				<xs:element ref="COLUMN_SIZE"/>
				<xs:element ref="IS_NULL"/>
				<xs:element ref="DB_TYPE"/>
			</xs:sequence>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="fields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="gcinterval">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ichange">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="privatekey"/>
				<xs:element ref="privatepassword"/>
				<xs:element ref="jdbcs"/>
				<xs:element ref="types"/>
				<xs:element ref="channel"/>
				<xs:element ref="ichangeutils"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ichangeutils">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="gcinterval"/>
				<xs:element ref="recover"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="interval">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ipaddress">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="isactive">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false"/>
				<xs:enumeration value="true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="isrecover">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false"/>
				<xs:enumeration value="true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="jdbc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="driverclass"/>
				<xs:element ref="dburl"/>
				<xs:element ref="dbowner"/>
				<xs:element ref="dbhost"/>
				<xs:element ref="dbvender"/>
				<xs:element ref="dbtype"/>
				<xs:element ref="dbuser"/>
				<xs:element ref="password"/>
				<xs:element ref="encoding"/>
			</xs:sequence>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="desc" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="jdbcs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="jdbc" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxrecords">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="monitordelete">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false"/>
				<xs:enumeration value="true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="monitorinsert">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false"/>
				<xs:enumeration value="true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="monitorupdate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false"/>
				<xs:enumeration value="true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="oldstep">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false"/>
				<xs:enumeration value="true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="onlyinsert">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false"/>
				<xs:enumeration value="true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="operation">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="delete"/>
				<xs:enumeration value="trigger"/>
				<xs:enumeration value="unselect"/>
				<xs:enumeration value="oldstep"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="password">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="plugin">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sourceclassname"/>
				<xs:element ref="targetclassname"/>
				<xs:element ref="sourceplugin"/>
				<xs:element ref="targetplugin" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="port">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="privated">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="false"/>
				<xs:enumeration value="true"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="privatekey">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="privatepassword">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="recover">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="seqnumber">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sourceclassname">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sourcepath" type="xs:string"/>
	<xs:element name="sourceplugin">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dbchange"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="srcdb">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tables"/>
			</xs:sequence>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
<xs:element name="srctable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="targetdb"/>
			</xs:sequence>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>	
	
	<xs:element name="system">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ichange"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="monitordelete" minOccurs="0"/>
				<xs:element ref="monitorupdate" minOccurs="0"/>
				<xs:element ref="monitorinsert" minOccurs="0"/>
				<xs:element ref="seqnumber" minOccurs="0"/>
				<xs:element ref="interval" minOccurs="0"/>
				<xs:element ref="deleteenable" minOccurs="0"/>
				<xs:element ref="onlyinsert" minOccurs="0"/>
				<xs:element ref="condition" minOccurs="0"/>
				<xs:element ref="fields" minOccurs="0"/>
				<xs:element ref="targetdb" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tables">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="table" minOccurs="0"/>
				<xs:element ref="srctable" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="targetclassname">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="targetdb">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="table"/>
			</xs:sequence>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="targetpath" type="xs:string"/>
	<xs:element name="targetplugin">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dbchange"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="temptable" type="xs:string"/>
	<xs:element name="type">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="isactive"/>
				<xs:element ref="isrecover"/>
				<xs:element ref="datapath"/>
				<xs:element ref="deletefile"/>
				<xs:element ref="plugin"/>
			</xs:choice>
			<xs:attribute name="value">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="desc" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="types">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
